<%- include('header'); -%>

<div class="flex justify-center items-center h-full">
  <div class="block max-w-sm p-6 bg-white rounded-lg shadow">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-secondary">Teszt</h5>
    <p class="font-normal text-gray-700">
      <a href="/onboarding">Onboarding</a>
    </p>
  </div>
</div>

<%- include('footer'); -%>